#skills {
    @import '../../components/SkillsList/style.scss';
    background-color: $darkestpurple;
    h2 {
        margin: 50px 0;
        width: 100%;
        max-width: 600px;
        color: #fff;
    }
    .skills__ctn {
        @include flexCenter(row);
        flex-wrap: wrap;
        align-items: stretch;
        justify-content: space-evenly;
    }
    .skills__backend {
        > .skills__list {
            background-color: rgba($color: $darkpurple, $alpha: 0.5);
        }
    }
}

@media screen and (max-width: 1285px) {
    .skills__ctn {
        display: block !important;
        .skills__list {
            margin: 70px auto !important;
            height: fit-content !important;
        }
    }
}
