$darkerblue : #03045e;
$darkblue : #023e8a;
$blue : #0077b6;
$lightblue : #00b4d8;
$lighterblue : #ade8f4;

$darkgrey : #1c2541;
$grey : #3a506b;

$darkestpurple : #170022;
$darkpurple : #240046;
$purple : #7b2cbf;
$lila : #e0aaff;

$darkorange : #ff6d00;
$orange : #ff8500;
$lightorange : #f1b170;
